<ion-view view-title="Page 3">

  <ion-content class="scroll-content ionic-scroll  has-header"><div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">

    <div class="list">

      <a href="#/" class="item">Homepage</a>
      <a href="#/page2" class="item">Page 2</a>
      <a href="#/page3" class="item">Page 3</a>

    </div>

  </div><div class="scroll-bar scroll-bar-v"><div class="scroll-bar-indicator scroll-bar-fade-out" style="height: 0px; transform: translate3d(0px, 0px, 0px) scaleY(1);"></div></div></ion-content>

</ion-view>